@import "@main-webapp/shared/scss/font-size.scss";
@import "@main-webapp/shared/scss/variable.scss";

.text {
	color: $colorText;
	&_small {
		font-size: $fs12;
	}
	&_default {
		font-size: $fs14;
	}
	&_big {
		font-size: $fs18;
	}
	&_very-big {
		font-size: $fs24;
	}
	&_regular {
		font-weight: $fw400;
	}
	&_semiBold {
		font-weight: $fw700;
	}
}
