$main-light: #AAF5D2;

$background-main: rgb(220, 220, 220);
$background-gradient-light-green: radial-gradient(at left top, $main-light, #E4F4E1);

$orange-main: #FF9D40;
$green-main: rgb(64, 192, 87);
$grey-main: rgb(128, 128, 128);
$white-color: #fff;
$colorText: #3D3F3E;