@import "src/shared/scss/font-size.scss";

.text {
  &_small {
    font-size: $fs12;
  }
  &_default {
    font-size: $fs14;
  }
  &_big {
    font-size: $fs18;
  }
  &_very-big {
    font-size: $fs24;
  }
}